<div style="height: 100%;">
    <section class="display-movie" *ngIf="product$ | async as product">
        <mat-card style="height: 300px; width: 300px;">
            <button mat-button *ngIf="editFlag == false"(click)="enableEdit(product)">Edit</button>
            <button mat-button *ngIf="editFlag == true" (click)="cancelEdit()">Cancel edit</button>
            <button mat-button routerLink="/products">Return</button>
            <h1> {{product.name}} </h1>
            <h2> {{ product.expirationDate | date }} </h2>
            <h3> {{ product.weight }} million </h3>
            <mat-form-field *ngIf="editFlag == true" class="example-full-width" appearance="fill">
                <mat-label>Weight</mat-label>
                <input matInput type="number" placeholder="In kilograms" [(ngModel)]="weight">
            </mat-form-field>
            <button mat-button *ngIf="editFlag == true" (click)="update(product)">Update</button>
        </mat-card>
    </section>
</div>

cancelEdit