table {
    /* border: 1px  black; */
  }

td {
  border: 1px solid black;
}
 
th {
  border: 1px solid black;
  background-color: #0275d8;
  color: white;
}

button {
  background-color: #0275d8;
  color: white;
}
