
<div style="padding: 20px;">
    <div style="padding: 20px;">
      <h2>Create product delivery</h2>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <input name='name' [(ngModel)]="newProductDelivery.description" matInput>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <mat-label>Capacity</mat-label>
          <input name='earning' [(ngModel)]="newProductDelivery.capacity" type='number' matInput placeholder="In million">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Total weight</mat-label>
            <input name='earning' [(ngModel)]="newProductDelivery.totalWeight" type='number' matInput placeholder="In million">
          </mat-form-field>
        
        <button (click)="addNewProductDelivery()" style="margin-left: 33%;" mat-raised-button color="primary">Add Product delivery</button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div style="padding: 20px;">
        <app-product-delivery-list></app-product-delivery-list>
    </div>
  </div>

