<div class="movies">
    <section *ngFor="let deliveryAddress of deliveryAddresses$ | async; let i = index">
        <mat-card style="position: relative;">
            <div style="position: absolute; right: 20px">
                <button mat-icon-button>
                    <mat-icon (click)="enableEdit(deliveryAddress, i)">edit</mat-icon>
                </button>
            </div>
            <h1> {{deliveryAddress.postCode}} </h1>
            <h2> {{ deliveryAddress.city }} </h2>
            <ng-template #ear><h3> ${{ deliveryAddress.street }} </h3></ng-template>
            <mat-form-field *ngIf="i === selectedIndex; else ear" class="example-full-width" appearance="fill">
                <mat-label>Street</mat-label>
                <input placeholder="Street name" [(ngModel)]="street">
            </mat-form-field>
            <mat-card-actions>
                <button mat-button (click)="delete(deliveryAddress.deliveryAddressId)">Delete</button>
                <button mat-button *ngIf="i === selectedIndex" (click)="update(deliveryAddress)">Update</button>
                <button mat-button *ngIf="i === selectedIndex" (click)="cancelEdit()">Cancel</button>
                <button mat-button routerLink='/delivery-address/{{deliveryAddress.deliveryAddressId}}'>Details</button>
            </mat-card-actions>
        </mat-card>
    </section>
</div>



