   
<button routerLink="/transport-movement" style="margin-top: 3%;" mat-raised-button color="primary">Back</button>
<section class="display-movie" >
    <!-- *ngIf="details$ | async as details"  -->

    <div > transport movement id : {{ detailedTransportMovement.transportMovementId }}</div>
    <div>arrival time : </div>
    
    <div> delivery address street: {{detailedTransportMovement.deliveryAddress.street }}</div>
    <div> delivery address city: {{detailedTransportMovement.deliveryAddress.city }}</div>
    <div> delivery address state: {{detailedTransportMovement.deliveryAddress.state }}</div>
    <div> delivery address postCode: {{detailedTransportMovement.deliveryAddress.postCode }}</div>

    <div> starting address street: {{detailedTransportMovement.startingAddress.street }}</div>
    <div> starting address city: {{detailedTransportMovement.startingAddress.city }}</div>
    <div> starting address state: {{detailedTransportMovement.startingAddress.state }}</div>
    <div> starting address postCode: {{detailedTransportMovement.startingAddress.postCode }}</div>
   
    <div class="row">
        <table class="col-xs-7 table-bordered table-striped table-condensed table-fixed">
            <thead>
                <tr>
                    <th class="col">Packages</th>
                </tr>
            </thead>
            <tbody >
                <tr >
                    <table>
                        <thead>
                            <tr>
                                <th class="col">Package description</th>
                                <th class="col">Total weight</th>
                                <th class="col">Starting address </th>
                                <th class="col">Destination address</th>
                                <th class="col">Package status</th>
                                <th class="col">Status initalization at</th>
                                <th class="col">Delete assignnment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let delivery of detailedTransportMovement.wayBills let i = index" >
                                <td class="col">{{ delivery.productDelivery.description }}</td>
                                <td class="col">{{ delivery.productDelivery.totalWeight }}</td>
                                <td class="col">
                                    <div>{{ delivery.productDelivery.startingAddress.street }}</div>
                                    <div>{{ delivery.productDelivery.startingAddress.city }}</div>
                                    <div>{{ delivery.productDelivery.startingAddress.postCode }}</div>
                                    <div>{{ delivery.productDelivery.startingAddress.state }}</div>
                                </td>
                                <td class="col">
                                    <div>{{ delivery.productDelivery.deliverySpecification.deliveryAddress.street }}</div>
                                    <div>{{ delivery.productDelivery.deliverySpecification.deliveryAddress.city }}</div>
                                    <div>{{ delivery.productDelivery.deliverySpecification.deliveryAddress.postCode }}</div>
                                    <div>{{ delivery.productDelivery.deliverySpecification.deliveryAddress.state }}</div>
                                </td>
                                <td class="col"><button (click)="removePackage(detailedTransportMovement.transportMovementId, delivery.deliveryHistoryId)" style="margin-top: 3%;" mat-raised-button color="primary">Remove item</button></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </tr>
                </tbody>
        </table></div>
</section> 
<button mat-button (click)="generateARoute(detailedTransportMovement.transportMovementId)" mat-raised-button color="primary">Generate route</button>
<div class="row">
    <table class="col-xs-7 table-bordered table-striped table-condensed table-fixed">
        <thead>
            <tr>
                <th class="col">Route</th>
            </tr>
        </thead>
        <tbody >
            <tr >
                <table>
                    <thead>
                        <tr>
                            <th class="col">Route order</th>
                            <th class="col">Transport stops at</th>
                            <th class="col">Estimated arrival time</th>
                            <th class="col">Action</th>
                            <th class="col">Change order up</th>
                            <th class="col">Change order down</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let delivery of detailedTransportMovement.transportMovementSpecifications, first as isFirst, last as isLast, let i = index" >
                            <td>{{ i + 1}}</td>
                            <td class="col">
                                <div>{{ delivery.deliveryAddress.street }}</div>
                                <div>{{ delivery.deliveryAddress.city }}</div>
                                <div>{{ delivery.deliveryAddress.postCode }}</div>
                                <div>{{ delivery.deliveryAddress.state }}</div>
                            </td>
                            <td>{{ delivery.arrivalTime }}</td>
                            <td><button *ngIf="!isFirst" style="margin-top: 3%;" mat-raised-button color="primary" 
                                (click)="switchOneItemDownOnRouteList(detailedTransportMovement.transportMovementId, delivery.transportMovementSpecificationId)">Previous place</button></td>
                            <td><button style="margin-top: 3%;" mat-raised-button color="primary"
                                (click)="switchOneItemUpOnRouteList(detailedTransportMovement.transportMovementId, delivery.transportMovementSpecificationId)">Next place</button></td>
                        </tr>
                    </tbody>
                </table>
                
            </tr>
            </tbody>
    </table></div>
    <button mat-button (click)="preparationFinished(detailedTransportMovement.transportMovementId)" mat-raised-button color="primary">Send transport</button>
    