<!-- <div style="height: 100%;">
    <section class="display-movie" *ngIf="transportMovement$ | async as transportMovement"> -->
        
            <!-- <h1> {{transportMovement.description}} </h1>
            <h3> {{ transportMovement.totalWeight }} million </h3> -->
            <!-- <ng-container  *ngFor="let product of transportMovement.handlingEvents let i = index">
                <tr >
                    <td class="col">{{ product }}</td> -->
                    <!-- <td class="col">{{ product.weight }}</td>
                    <button mat-button (click)="deleteProductFromPackage(productDelivery.deliveryId, product.productId)">Delete</button> -->
                <!-- </tr>
            </ng-container> -->
            <!-- <button mat-button routerLink="/product-delivery">Return</button> -->
<!--         
    </section>
</div> -->
<section class="display-movie" *ngIf="transportMovement$ | async as transportMovement"> 

    <div>transport movement id : {{transportMovement.transportMovementId}} </div>
    <div>arrival time : {{ transportMovement.deliverySpecification.arrivalTime }}</div>
    
    <div> delivery address street: {{transportMovement.deliverySpecification.deliveryAddress.street }}</div>
    <div> delivery address city: {{transportMovement.deliverySpecification.deliveryAddress.city }}</div>
    <div> delivery address state: {{transportMovement.deliverySpecification.deliveryAddress.state }}</div>
    <div> delivery address postCode: {{transportMovement.deliverySpecification.deliveryAddress.postCode }}</div>

    <div> starting address street: {{transportMovement.startingAddress.street }}</div>
    <div> starting address city: {{transportMovement.startingAddress.city }}</div>
    <div> starting address state: {{transportMovement.startingAddress.state }}</div>
    <div> starting address postCode: {{transportMovement.startingAddress.postCode }}</div>
   
    <div class="row">
        <table class="col-xs-7 table-bordered table-striped table-condensed table-fixed">
            <thead>
                <tr>
                    <th class="col">Packages</th>
                </tr>
            </thead>
            <tbody >
                <tr >
                    <table>
                        <thead>
                            <tr>
                                <th class="col">Package description</th>
                                <th class="col">Total weight</th>
                                <th class="col">Starting address </th>
                                <th class="col">Destination address</th>
                                <th class="col">Package status</th>
                                <th class="col">Status initalization at</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let delivery of transportMovement.handlingEvents let i = index" >
                                <td class="col">{{ delivery.deliveryHistory.productDelivery.description }}</td>
                                <td class="col">{{ delivery.deliveryHistory.productDelivery.totalWeight }}</td>
                                <td class="col">
                                    <div>{{ delivery.deliveryHistory.productDelivery.startingAddress.street }}</div>
                                    <div>{{ delivery.deliveryHistory.productDelivery.startingAddress.city }}</div>
                                    <div>{{ delivery.deliveryHistory.productDelivery.startingAddress.postCode }}</div>
                                    <div>{{ delivery.deliveryHistory.productDelivery.startingAddress.state }}</div>
                                </td>
                                <td class="col">
                                    <div>{{ delivery.deliveryHistory.productDelivery.deliverySpecification.deliveryAddress.street }}</div>
                                    <div>{{ delivery.deliveryHistory.productDelivery.deliverySpecification.deliveryAddress.city }}</div>
                                    <div>{{ delivery.deliveryHistory.productDelivery.deliverySpecification.deliveryAddress.postCode }}</div>
                                    <div>{{ delivery.deliveryHistory.productDelivery.deliverySpecification.deliveryAddress.state }}</div>
                                </td>
                                <td class="col">{{ delivery.state }}</td>  
                                <td class="col">{{ delivery.timeStamp }}</td> 
                            </tr>
                        </tbody>
                    </table>
                    
                </tr>
                </tbody>
        </table></div>
</section> 

