<div style="padding: 20px;">
    <div style="padding: 20px;">
      <h2>Create address</h2>
      <form class="example-form">
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Post code</mat-label>
                <input name='postCode' [(ngModel)]="newDeliveryAddress.postCode" matInput>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>City</mat-label>
                <input name='city' [(ngModel)]="newDeliveryAddress.city" matInput>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Street</mat-label>
                <input name='street' [(ngModel)]="newDeliveryAddress.street" matInput>
              </mat-form-field>
        </div>

        <div>
          <mat-form-field class="example-full-width">
              <mat-label>State</mat-label>
              <input name='state' [(ngModel)]="newDeliveryAddress.state" matInput>
            </mat-form-field>
      </div>
        <button (click)="addNewDeliveryAddress()" style="margin-left: 33%;" mat-raised-button color="primary">Add address</button>
      </form>
    </div>
    <div style="padding: 20px;">
      
      <mat-dialog-actions style="margin-bottom: 2%">
          <button class="mat-raised-button"(click)="close()">Close</button>
      </mat-dialog-actions>
  </div>
