
<body>
    <div class="container">
        <div class="row">
            <table class="col-xs-7 table-bordered table-striped table-condensed table-fixed">
                <thead>
                    <tr>
                        <th class="col">Product name</th>
                        <th class="col">Expiration date</th>
                        <th class="col">Description</th>
                        <th class="col">Weight</th>
                        <th class="col">Amount</th>
                        <th class="col">Fragile</th>
                        <th class="col">State</th>
                        <th class="col">Category</th>
                        <th class="col">Purpose</th>
                    </tr>
                </thead>
                <tbody >
                    <ng-container  *ngFor="let product of products$ | async; let i = index">
                        <tr >
                            <td class="col">{{ product.name }}</td>
                            <td class="col">{{ product.expirationDate }}</td>
                            <td class="col">{{ product.description }}</td>
                            <td class="col">{{ product.weight }}</td>
                            <td class="col">{{ product.amount }}</td>
                            <td class="col">{{ product.fragile }}</td>
                            <td class="col">{{ product.state }}</td>
                            <td class="col">{{ product.category.categoryName }}</td>
                            <td class="col">{{ product.category.attr1Caption }}</td>
                            <button mat-button routerLink='/products/{{product.productId}}'>Edit</button>
                            <button mat-button (click)="deleteProduct(product.productId)">Delete</button>
                        </tr>
                    </ng-container>
                    
                </tbody>
            </table>
        </div>
    </div>
</body>

