<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand">Transport organizer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/product-delivery">Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/vehicles">Cars</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/cargo-management">Cargo management</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <!-- <mat-toolbar class="mat-elevation-z8">
      <button
        mat-icon-button
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()"
      >
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
      </button>
      Responsive side navigation
    </mat-toolbar> -->
    
    <!-- <mat-sidenav-container>
      <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <button mat-button class="menu-button" routerLink="/products">
          <mat-icon>category</mat-icon>
          <span>Products</span>
        </button>
        <button mat-button class="menu-button" routerLink="/product-delivery">
          <mat-icon>category</mat-icon>
          <span>Product delivery</span>
        </button>
        <button mat-button class="menu-button" routerLink="/vehicles">
          <mat-icon>category</mat-icon>
          <span>Vehicles</span>
        </button>
        <button mat-button class="menu-button" routerLink="/transport-movement">
          <mat-icon>category</mat-icon>
          <span>Organize transport</span>
        </button>
        <button mat-button class="menu-button" routerLink="/cargo-management">
          <mat-icon>category</mat-icon>
          <span>Cargo management</span>
        </button>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content mat-elevation-z8">
          
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container> -->

