/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  } */

  .disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  .pointer {
    cursor: pointer;
  }