

<ng-container *ngIf="(productsState$ | async ) as state" [ngSwitch]="state.appState">
<div class="container"></div>
    


    <div class="container">
        <div class="row">
            <div class="col-md-12 mt3">
                <ng-container *ngSwitchCase="'APP_ERROR'">{{ state.error | json }}</ng-container>
                <ng-container *ngSwitchCase="'APP_LOADING'">
                    <div class="d-flex justify-content-center mt-4">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'APP_LOADED'">
                    <h1>Product list</h1>
                    <table class="table table-bordered table-striped table-condensed table-fixed">
                        <thead>
                            <tr>
                                <th class="col">Product name</th>
                                <th class="col">Expiration date</th>
                                <th class="col">Description</th>
                                <th class="col">Weight</th>
                                <th class="col">Amount</th>
                                <th class="col">Fragile</th>
                                <th class="col">State</th>
                                <th class="col">Category</th>
                                <th class="col">Purpose</th>
                                <th class="col">Edit</th>
                                <th class="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody >
                                
                                <tr *ngFor="let product of state.appData.data.page.content; let i = index;">
                                    <td class="col">{{ product.name }}</td>
                                    <td class="col">{{ product.expirationDate }}</td>
                                    <td class="col">{{ product.description }}</td>
                                    <td class="col">{{ product.weight }} kg</td>
                                    <td class="col">{{ product.amount }}</td>
                                    <td class="col">{{ product.fragile }}</td>
                                    <td class="col">{{ product.state }}</td>
                                    <td class="col">{{ product.category.categoryName }}</td>
                                    <td class="col">{{ product.category.attr1Caption }}</td>
                                    <td><button mat-button routerLink='/products/{{product.productId}}'>Edit</button></td>
                                    <td><button mat-button (click)="deleteProduct(product.productId)">Delete</button></td>
                                </tr>  
                        </tbody>
                    </table>
                    
                    <div *ngIf="state.appData.data.page.content.length < 1" class="alert alert-secondary" role="alert">
                        No products found
                      </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                          <li class="page-item pointer" [ngClass]="0 == (currentPage$ | async ) ? ' disabled' : ''"><a (click)="goToNextOrPrevious('backward')" class="page-link ">&laquo; Previous</a></li>
                          <li *ngFor="let page of [].constructor(state.appData.data.page.totalPages); let i = index" [ngClass]="i == (currentPage$ | async ) ? ' active' : ''" class="page-item pointer"><a (click)="goToPage('',i)" class="page-link ">{{i + 1}}</a></li>
                          <li class="page-item pointer" [ngClass]="state.appData.data.page.last == true ? ' disabled' : ''"><a (click)="goToNextOrPrevious('forward')" class="page-link ">Next &raquo;</a></li>
                        </ul>
                      </nav>
                
            
                <div>
                    <button mat-raised-button (click)="openProductDialog()" style="margin: 1%;" color="primary">Add product</button>
                
                </div>
                </ng-container>
    
            </div>
        </div>
    </div>

</ng-container>
