<!-- <div class="products-list">
    <section *ngFor="let vehicle of vehicles$ | async;let i = index">
        <mat-card style="position: relative;">
            <div style="position: absolute; right: 20px">
                <button mat-icon-button>
                    <mat-icon (click)="enableEdit(vehicle, i)">edit</mat-icon>
                </button>
            </div>
            <h1> {{vehicle.brand}} </h1>
            <h2> {{ vehicle.model }} </h2>
            <ng-template #ear><h3> {{ vehicle.capacity }} kilograms </h3></ng-template>
            <mat-form-field *ngIf="i === selectedIndex; else ear" class="example-full-width" appearance="fill">
                <mat-label>Capacity</mat-label>
                <input matInput type="number" placeholder="In kilograms" [(ngModel)]="capacity">
            </mat-form-field>
            <mat-card-actions>
                <button mat-button (click)="deleteVehicle(vehicle.vehicleId)">Delete</button>
                <button mat-button *ngIf="i === selectedIndex" (click)="update(vehicle)">Update</button>
                <button mat-button *ngIf="i === selectedIndex" (click)="cancelEdit()">Cancel</button>
                <button mat-button routerLink='/vehicles/{{vehicle.vehicleId}}'>Details</button>
            </mat-card-actions>
        </mat-card>
    </section>
</div> -->
<div class="container">
    <div class="row">
        <table class="col-xs-7 table-bordered table-striped table-condensed table-fixed">
            <thead>
                <tr>
                    <th class="col">Vehicle ID</th>
                    <th class="col">Brand</th>
                    <th class="col">Model</th>
                    <th class="col">Engine</th>
                    <th class="col">Capacity</th>
                    <th class="col">Vehicle category</th>
                    <th class="col">License plate</th>
                </tr>
            </thead>
            <tbody >
                <ng-container  *ngFor="let vehicle of vehicles$ | async; let i = index">
                    <tr>
                        <td class="col">{{ vehicle.vehicleId }}</td>
                        <td class="col">{{ vehicle.brand }}</td>
                        <td class="col">{{ vehicle.model }}</td>
                        <td class="col">{{ vehicle.engine }}</td>
                        <td class="col">{{ vehicle.capacity }}</td>
                        <td class="col">{{ vehicle.vehicleCategory }}</td>
                        <td class="col">{{ vehicle.licensePlate }}</td>
                        <td><button mat-button (click)="deleteVehicle(vehicle.vehicleId)">Delete</button></td>
                        <td><button mat-button routerLink="/vehicles/{{ vehicle.vehicleId }}">Show details</button></td>
                    </tr> 
                </ng-container>
                
            </tbody>
        </table>
    </div>
</div>
