<div class="products-list">
    <section *ngFor="let vehicle of vehicles$ | async;let i = index">
        <mat-card style="position: relative;">
            <div style="position: absolute; right: 20px">
                <button mat-icon-button>
                    <mat-icon (click)="enableEdit(vehicle, i)">edit</mat-icon>
                </button>
            </div>
            <h1> {{vehicle.brand}} </h1>
            <h2> {{ vehicle.model }} </h2>
            <ng-template #ear><h3> {{ vehicle.capacity }} kilograms </h3></ng-template>
            <mat-form-field *ngIf="i === selectedIndex; else ear" class="example-full-width" appearance="fill">
                <mat-label>Capacity</mat-label>
                <input matInput type="number" placeholder="In kilograms" [(ngModel)]="capacity">
            </mat-form-field>
            <mat-card-actions>
                <button mat-button (click)="deleteVehicle(vehicle.vehicleId)">Delete</button>
                <button mat-button *ngIf="i === selectedIndex" (click)="update(vehicle)">Update</button>
                <button mat-button *ngIf="i === selectedIndex" (click)="cancelEdit()">Cancel</button>
                <button mat-button routerLink='/products/{{vehicle.vehicleId}}'>Details</button>
            </mat-card-actions>
        </mat-card>
    </section>
</div>
